/* reset styles */
* {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gruppo-Regular', sans-serif;
    line-height: 1em;
    color: var(--light);
    background: var(--dark);
    overflow-x: hidden;
}

ul {
    padding: 0;
    list-style-type: none;
}
 
a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}

.test {
    color: $primary;
}