/* reset styles */
* {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    padding: 0;
    text-align: center; 
}
body {    
    font-family: -apple-system, BlinkMacSystemFont, 'Gruppo-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1em;
    color: var(--light);
    background: var(--dark);
    overflow-x: hidden;
}

ul {
    padding: 0;
    list-style-type: none;
}
 
a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}