@function light-comp($color) {
    $complement: complement($color);
    $light-complement: lighten($complement, 30%);
    @return $light-complement;
}

@mixin section-title {
    font-weight: 100;
    margin-bottom: 3rem;
}

@mixin input {
    padding: .4rem;
    margin-bottom: 1rem;
    
    font-family: inherit;
    font-size: $font-size-sm;
    
    border: none;
    border-radius: $base-border-radius;
}