@use 'sass:math';
@import '../../sass/_base.scss';
@import '../../sass/_breakpoints.scss';

.navigation {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
        
    @include sm {        
        padding: 1rem 0;
    }
    @include md {
        justify-content: space-around;        
        padding: 1rem 0;
    }
    @include lg {        
        justify-content: space-between;
        padding: 0 3rem;
    }
}