@use 'sass:math';
@import '../../sass/_base.scss';
@import '../../sass/_breakpoints.scss';

.navigation {
    max-width: 100vw;
    width: 100%;
    margin: 1rem auto 0;
    padding: 0 2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;    
        
    @include md {
        justify-content: space-around;        
    }
    @include lg {        
        justify-content: space-between;
    }
}