@use 'sass:math';
@import '../../sass/main.scss';

.navigation {
    background: red;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    @media screen and (min-width: 720px) {
        padding: 1rem 0;
    }
    @media screen and (min-width: 960px) {
        justify-content: space-between;
        padding: 0 3rem;
    }
    
    .brand {
        font-weight: 100;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .title {
           
            @media screen and (min-width: 960px) {
                font-size: $font-size-xl;
            }
        }
        
        .subtitle {
            display: none;
            
            @media screen and (min-width: 720px) {
                font-size: $font-size-sm;
            }
            @media screen and (min-width: 960px) {
                font-size: $font-size-lg;
            }
        }
        
        .nav {
            display: none;
            
            @media screen and (min-width: 960px) {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                line-height: 1.4em;
            }
        }
    }
}