@import '../../sass/_variables';

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $secondary;
    opacity: .95;
    
    .modal {
        padding: 25% 1rem 0;
        max-width: 70%;
        margin: 20% auto;
        background: lighten($primary, 5%);
        border-radius: $base-border-radius;
        opacity: 1;
    }
}