@import 'sass/_variables';

// @import 'sass/colors';
@import 'sass/utilities';

/* reset styles */
* {
    box-sizing: border-box;
    // color: inherit;
    margin: 0;
    padding: 0;
    text-align: center; 
}
body {    
    font-family: -apple-system, BlinkMacSystemFont, 'Gruppo-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    line-height: 1em;
    color: $light;
    background: $secondary;
    overflow-x: hidden;
}

ul {
    padding: 0;
    list-style-type: none;
}
 
a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}

/* *************************************************************************** */

.App {
    min-height: 100vh;    
    height: 100%;
    padding: 0;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: calc(10px + 2vmin);
    text-align: center;
    color: $light;
    background-color: $secondary;
    
    .header, .main, .footer {
        width: 100vw;
        max-width: 100vw;           
    }
        
    .main {
        width: 100vw;
        max-width: 100vw; 
        height: 90vh;        
        max-height: 90vh;
    }
    
    .footer {
        font-size: $base-font-size;        
    }
}