@import 'sass/variables';

.App {
    min-height: 100vh;    
    height: 100vh;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: calc(10px + 2vmin);
    text-align: center;
    color: whitesmoke;
    background-color: #282c34;
    
    &-header, &-main, &-footer {
        width: 100vw;
        max-width: 100vw;           
    }
        
    &-main {
        width: 100vw;
        max-width: 100vw; 
        height: 90vh;        
        max-height: 90vh;
    }
    
    &-footer {
        font-size: $base-font-size;        
    }
}